<h2>About me</h2>
<div class="about-me-container-top">
    <div class="about-me-left">
        <div class="about-me-text">
            <p>Hello, my name is Andreas. I am a Front-end developer based in Essen, Germany. I enjoy helping designers and companies bring their
                ideas
                into real life. I am looking forward to continuing my developer career with a job in a junior web
                developer
                position.</p>
            <p>If you think I’d be a good match for your projects, contact me!</p>
        </div>
        <a href="#contact-me"><button class="primary">Let’s talk</button></a>
    </div>

    <div class="about-me-right">
        <div class="picture-container">
            <div class="outline"></div>
            <img class="picture" src="assets/img/profile-picture.jpg">
        </div>
    </div>
</div>