h2 {
    text-align: left;
    width: 50%;
}

.about-me-container-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.about-me-left,
.about-me-right {
    width: 50%;
}

.about-me-text {
    font-weight: 400;
    font-size: 23px;

    p {
        margin-bottom: 32px;
    }
}

.about-me-right {
    position: relative;
    display: flex;
    justify-content: flex-end;

    .picture {
        width: 450px;
        height: auto;
    }

}

.about-me-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outline {
    position: absolute;
    top: 20px;
    right: -20px;
    width: 100%;
    height: 100%;
    transition: all 75ms ease-in-out;

    &:hover {
        border: 5px solid #000;
        transition: all 75ms ease-in-out;
    }

    &:hover+.picture {
        box-shadow: 5px 2px 15px -6px rgba(0, 0, 0, 0.45);
        transition: all 75ms ease-in-out;
    }
}

@media (max-width: 1200px) {
    .about-me-right {
        .picture {
            width: 400px;
        }
    }
}

@media (max-width: 1100px) {
    .about-me-right {
        .picture {
            width: 350px;
        }
    }
}



@media (max-width: 930px) {
    h2 {
        width: 100%;
        text-align: center;
        text-shadow: 0px 5px 7px rgba(0, 0, 0, 0.27);

        &:hover {
            color: unset;
            transition: unset;
        }
    }

    .about-me-text {
        p {
            margin-bottom: 0;
        }
    }

    .picture {
        animation: picture-shaddow 3s ease-in-out;
        animation-iteration-count: infinite;
    }

    .outline {
        &:hover {
            border: unset;
        }

        &:hover+.picture {
            box-shadow: unset;
        }

        animation: outline-blink 3s ease-in-out;
        animation-iteration-count: infinite;
    }

    .about-me-container-top {
        flex-direction: column;
    }

    .about-me-left,
    .about-me-right {
        width: 100%;
    }

    .about-me-right {
        margin-top: 48px;
        justify-content: center;

        .picture {
            width: 450px;
        }
    }

    button {
        display: none;
    }
}

@media (max-width: 620px) {
    .about-me-right {
        .picture {
            width: 400px;
        }
    }
}

@media (max-width: 500px) {
    .about-me-right {
        .picture {
            width: 340px;
        }
    }

    .outline {
        top: 15px;
        right: -15px;
    }
}

@media (max-width: 400px) {
    .about-me-right {
        .picture {
            width: 300px;
        }
    }
}

@media (max-width: 350px) {
    .about-me-right {
        .picture {
            width: 235px;
        }
    }

    .outline {
        top: 10px;
        right: -10px;
    }
}

@keyframes outline-blink {
    0% {
        border: 5px solid #000;
    }

    100% {
        border: none;
    }
}

@keyframes picture-shaddow {
    0% {
        box-shadow: 5px 2px 15px -6px rgba(0, 0, 0, 0.45);

    }

    100% {
        box-shadow: none;
    }
}