<div class="menu-open">
    <div class="menu-content">
        <div class="menu-content-inner">
            <div class="link-container">
                <a href="#about-me" (click)="menu.closeMenu()">
                    <div class="link">
                        <div class="name">About me</div>
                        <div class="underline">
                            <div class="underline-inner"></div>
                        </div>
                    </div>
                </a>
                <a href="#my-skills" (click)="menu.closeMenu()">
                    <div class="link">
                        <div class="name">My skills</div>
                        <div class="underline">
                            <div class="underline-inner"></div>
                        </div>
                    </div>
                </a>
                <a href="#portfolio" (click)="menu.closeMenu()">
                    <div class="link">
                        <div class="name">Portfolio</div>
                        <div class="underline">
                            <div class="underline-inner"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="menu-footer">
        <div class="footer-inner">
            <div class="footer-container">
                <a href="#contact-me" (click)="menu.closeMenu()">
                    <div class="say-hi">
                        <h2>Say hi!</h2>
                        <p>bandusch@web.de</p>
                    </div>
                </a>
                <div class="footer-right">
                    <div class="icon-container">
                        <a href="https://github.com/andreasbandusch" target="_blank"><img
                                src="assets/img/icons/social/github.png" (click)="menu.closeMenu()"></a>
                        <a href="mailto:bandusch@web.de?subject=Feedback"><img src="assets/img/icons/social/mail.png"
                                (click)="menu.closeMenu()"></a>
                        <a href="https://www.linkedin.com/in/andreas-bandusch-014775252/" target="_blank"><img
                                src="assets/img/icons/social/linkedin.png" (click)="menu.closeMenu()"></a>
                        <a href="https://www.xing.com/profile/Andreas_Bandusch/cv" target="_blank"><img
                                src="assets/img/icons/social/xing.png" (click)="menu.closeMenu()"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>