<div class="content">
  <div class="content-inner">
    <app-section-top></app-section-top>
    <app-section-about-me></app-section-about-me>
    <app-section-arrow-down id="my-skills" [arrowAnimation]="'top'"></app-section-arrow-down>
    <app-section-my-skills></app-section-my-skills>
    <app-section-arrow-down id="portfolio" [arrowAnimation]="'body'"
      direction="otherDirection"></app-section-arrow-down>
    <app-section-portfolio></app-section-portfolio>
    <app-section-arrow-down id="contact-me" [arrowAnimation]="'bottom'"></app-section-arrow-down>
  </div>
</div>
<app-section-bottom></app-section-bottom>