<div class="footer-container">
    <div class="footer-inner">
        <div class="footer-left">
            <a routerLink="/"><img src="assets/img/design/logo-white.png"></a>
            <span class="copyright">&#169; Andreas Bandusch 2023</span>
        </div>
        <div class="footer-right">
            <div class="icon-container">
                <a href="https://github.com/andreasbandusch" target="_blank"><img
                        src="assets/img/icons/social/github.png"></a>
                <a href="mailto:bandusch@web.de?subject=Feedback"><img src="assets/img/icons/social/mail.png"></a>
                <a href="https://www.linkedin.com/in/andreas-bandusch-014775252/" target="_blank"><img
                        src="assets/img/icons/social/linkedin.png"></a>
                <!-- <a href="https://www.xing.com/profile/Andreas_Bandusch/cv" target="_blank"><img
                        src="assets/img/icons/social/xing.png"></a> -->
            </div>
            <span class="legal"><a routerLink="/impressum">Impressum</a>&nbsp; | &nbsp;<a
                    routerLink="/datenschutz">Datenschutz</a></span>
        </div>
    </div>