<div class="section-top-header">
    <div class="header-container">
        <h1>Frontend<br>Developer</h1>
        <div class="name-container">
            <div class="underline">
                <div class="underline-inner"></div>
            </div>
            <p class="name">Andreas Bandusch</p>
        </div>
    </div>
</div>
<div class="section-top-center">
    <a href="#contact-me"><button class="primary">Send a message</button></a>
</div>
<div>
    <div id="about-me" class="section-top-footer">
        <div class="email">bandusch@web.de</div>
        <div class="scroll-info">
            <img src="assets/img/design/section-top-arrow.png">
            <div class="scroll-text">Scroll <br>Down</div>
        </div>
    </div>
    <div class="magic-box"></div>
</div>